name: Frontend Works

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  Build:
    steps:
    - name: Build Debian package
      uses: dawidd6/action-debian-package@v1
    - uses: actions/checkout@v2
    - name: Set up Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Installing Dependencies
      run: cd frontend; yarn install
    - name: Building
      run: cd frontend; yarn build
    - name: Test
      run: cd frontend; yarn test
